.projects-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 30rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.neighborhood {
  /* background-image: url('../../images/neighborhood1.png'); */
  /* background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8; */
}

.project-image {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.project-image:hover {
  opacity: 1;
} 

.movie {
  /* background-image: url('../../images/movie1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8; */
}

.pokemon {
  /* background-image: url('../../images/pokemon1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8; */
}

.github-link {
  position: absolute;
}