.projects {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 30rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.project-image {
  width: 75%;
  height: 75%;
  opacity: 0.8;
}

.project-image:hover {
  opacity: 1;
} 

.github-link {
  background: url('../../images/github-link.png');
  background-size: 5rem;
  background-repeat: no-repeat;
  width: 6rem;
  height: 6rem;
}