.navigation-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation-section {
  width: 100%;
  height: 50%;
  background-color: black;
}

.heading-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  /* background-image: url('https://sg.fiverrcdn.com/photo2s/115792331/original/24e73b206afe0be4da2b941ab06bb09efe2a10a0.jpeg?1534395867');
  background-size: cover;
  background-repeat: no-repeat; */
}

.heading-name {
  position: absolute;
  font-size: 5rem;
  top: 100px;
  z-index: 1;
  margin: 1rem;
  font-weight: 900;
}

.heading-title {
  position: absolute;
  font-weight: 900;
  z-index: 1;
  margin: 1rem;
}

.heading-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.github-image {
  width: 5rem;
  height: 5rem;
}

.projects-image {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.button-title {
  transition: ease-in all .4s;
  visibility: hidden;
  color: white;
}

.projects-section:hover .button-title {
  visibility: visible;
}

.github-section:hover .button-title {
  visibility: visible;
}



