.about-section {
  height: 100vh;
  width: 100%;
  display: flex;
}

.denver-image {
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}

.profile-section {
 display: flex;
 justify-content: center;
 background-color: black;
 opacity: 0.9;
 width: 70rem;
 height: 35rem;
 /* border-radius: 15px; */
}

.top-profile {
  height: 100%;
  width: 50%;
}

.profile-pic {
  width: 12rem;
  height: 13rem;
}

.bottom-profile {
  height: 100%;
  width: 50%;
  background-color: white;
}